# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# SendGrid (pour API routes)
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_FROM_NAME=

# ClickSend (SMS)
CLICKSEND_USERNAME=mynotaryapp@gmail.com
CLICKSEND_API_KEY=2B72BF70-F19A-2BB3-C217-F71F2D08E062
CLICKSEND_SENDER_ID=mynotary  # Optionnel: alpha tag (ex: MYNOTARY) ou numéro E.164

NEXT_PUBLIC_APP_URL=https://votre-domaine.com
CRON_SECRET=a3d99338256704277bcc1b18116b21233dbdd7ddf2c099c210cc0b1064db28b9  # Secret pour le webhook Supabase
NEXT_PUBLIC_CLIENT_FORM_URL=https://app.mynotary.io/form  # Lien dans les emails/SMS

# Pingen (envoi courrier postal)
PINGEN_CLIENT_ID=MG5A0B48TXB9RS8UIMCG
PINGEN_CLIENT_SECRET=pKjqL/bmW8ndvr+GAcToCStORjqB/ykyd4S3oxNdYaRjdvOGxZyb+TnZxk1LRT+kGJ5s1o2O/6qy211E
